package template

import "strconv"

type Anwser struct {
	Ok      bool
	Content string
}

type MCTask struct {
	Awnsers  []Anwser
	Question string
}

type CodeTask struct {
	Question string
}

type TextTask struct {
	Question string
}

type LernTask struct {
	Title  string
	Layout LernLayout
}

type LernLayout int

const (
	LayoutImgWithText LernLayout = iota
	LayoutOnlyText
	LayoutTwoImagesSomeText
)

type CoursePageType int

const (
	PageQuiz CoursePageType = iota
	PageCode
	PageLern
	PageText
)

type Course struct {
	Name      string
	QuizPages []MCTask
	LernPages []LernTask
	CodePages []CodeTask
	TextPages []TextTask
	Pages     []CoursePageType
	Progress  int
}

func get_pages_count(pages []CoursePageType, target CoursePageType) int {
	count := 0

	for _, p := range pages {
		if p != target {
			continue
		}
		count += 1
	}

	return count
}

templ RenderPage(c *Course) {
	switch c.Pages[c.Progress] {
		case PageCode:
			@c.Code()
		case PageQuiz:
			@c.Quiz()
		case PageLern:
			@c.Lern()
		case PageText:
			@c.Text()
		default:
			<span>Error 404 </span>
	}
}

templ Header() {
	<header class="navbar glass shadow z-10">
		<script>
		let isdark = JSON.parse(localStorage.getItem('isdark'));

		const darkCheck = document.getElementById("toggledark");
		darkCheck.checked = isdark;
		function toggleDarkmode() {
			isdark = !isdark;
			console.log(isdark);
			localStorage.setItem('isdark', JSON.stringify(isdark));
		}
	</script>
		<div class="flex-1">
			<a class="btn btn-ghost text-xl" href="dashboard.html">HTW Lern</a>
		</div>
		<div class="flex-none flex gap-2">
			<a class="btn glass" href="chat.html">
				<span class="iconify tabler--message"></span>
				Chat
			</a>
			<div class="dropdown dropdown-end">
				<div tabindex="0" role="button" class="bg-base-100/40 shadow skeleton h-10 w-10 shrink-0 rounded-full "></div>
				<ul
					tabindex="0"
					class="dropdown-content menu bg-base-100/90 glass shadow rounded-box z-1 w-52 p-2  gap-2"
				>
					<li><a class="btn ">Profil</a></li>
					<li><a class="btn ">Einstellungen</a></li>
					<li>
						<label class="btn  grow swap">
							<input type="checkbox" onclick="toggleDarkmode()" id="toggledark" value="htw-dark" class="theme-controller"/>
							<span class="swap-on iconify tabler--sun"></span>
							<div class="swap-off iconify tabler--moon"></div>
						</label>
					</li>
					<li><a class="btn btn-accent">Sync Moodle</a></li>
				</ul>
			</div>
		</div>
	</header>
}

templ (c *Course) Lern() {
	{{ id := get_pages_count(c.Pages[:c.Progress], PageLern) }}
	<div class="card-body grow gap-4" id="quiz">
		<div class="card-title justify-between">
			<h2>
				{ c.LernPages[id].Title }
				<label class="swap">
					<input type="checkbox" class=""/>
					<span class="swap-on iconify tabler--volume"></span>
					<span class="swap-off iconify tabler--volume-off"></span>
				</label>
			</h2>
			<span class="min-w-fit">
				{ c.Progress + 1 } / { len(c.Pages) }
			</span>
		</div>
		switch c.LernPages[id].Layout {
			case LayoutImgWithText:
				<div class="grow flex flex-col gap-4">
					<img src="https://placehold.co/1800x800" alt=""/>
					<p>
						Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
					</p>
				</div>
			case LayoutTwoImagesSomeText:
				<div class="grow flex flex-col gap-4">
					<div class="flex flex-row gap-4 justify-between">
						<img src="https://placehold.co/420x200" alt=""/>
						<img src="https://placehold.co/420x200" alt=""/>
					</div>
					<p>
						Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
					</p>
				</div>
			case LayoutOnlyText:
				<div class="grow">
					<p>
						Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
					</p>
					<p>
						Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
					</p>
					<p>
						Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
					</p>
					<p>
						Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
					</p>
				</div>
		}
		<div class="card-actions justify-end">
			@c.Control()
		</div>
	</div>
}

templ (c *Course) Control() {
	if c.Progress > 0 {
		<button
			class="btn btn-ghost glass"
			hx-trigger="click"
			hx-swap="outerHTML"
			hx-target="#quiz"
			hx-get={ "ubung/" + c.Name + "/" + strconv.Itoa(c.Progress-1) }
		>Zurück</button>
	}
	if c.Progress == len(c.Pages) - 1 {
		<a
			href="/feedback.html"
			class="btn btn-primary"
		>Beenden</a>
	} else {
		<button
			class="btn btn-primary"
			hx-trigger="click"
			hx-swap="outerHTML"
			hx-target="#quiz"
			hx-get={ "ubung/" + c.Name + "/" + strconv.Itoa(c.Progress+1) }
		>Weiter</button>
	}
}

templ (c *Course) Code() {
	{{ id := get_pages_count(c.Pages[:c.Progress], PageCode) }}
	<div class="card-body grow" id="quiz">
		<div class="card-title justify-between">
			<h2>
				{ c.CodePages[id].Question }
			</h2>
			<span class="min-w-fit">
				{ c.Progress + 1 } / { len(c.Pages) }
			</span>
		</div>
		<div class="flex flex-row grow justify-between gap-2">
			<code class="w-full">
				<textarea class="textarea textarea-primary glass shadow outline-none resize-none border-none w-full h-full" placeholder="//Code hier schreiben..."></textarea>
			</code>
			<div class="mockup-browser border-base-300 bg-base-100 border w-full shadow">
				<div class="mockup-browser-toolbar">
					<div class="input">http://localhost:8080</div>
				</div>
				<div class="grid place-content-center border-t border-base-300 h-80">Hallo!</div>
			</div>
		</div>
		<div class="card-actions justify-end">
			@c.Control()
		</div>
	</div>
}

templ (c *Course) Text() {
	{{ id := get_pages_count(c.Pages[:c.Progress], PageText) }}
	<div class="card-body grow" id="quiz">
		<div class="card-title justify-between">
			<h2>
				{ c.TextPages[id].Question }
			</h2>
			<span class="min-w-fit">
				{ c.Progress + 1 } / { len(c.Pages) }
			</span>
		</div>
		<textarea class="textarea textarea-primary glass shadow outline-none resize-none border-none w-full h-full" placeholder="Antwort hier schreiben..."></textarea>
		<div class="card-actions justify-end">
			@c.Control()
		</div>
	</div>
}

templ (c *Course) Quiz() {
	{{ id := get_pages_count(c.Pages[:c.Progress], PageQuiz) }}
	<div class="card-body grow" id="quiz">
		<div class="card-title justify-between">
			<h2>
				{ c.QuizPages[id].Question }
			</h2>
			<span class="min-w-fit">
				{ c.Progress + 1 } / { len(c.Pages) }
			</span>
		</div>
		<ul class="list grow">
			for _, anwser := range c.QuizPages[id].Awnsers {
				<li class="list-row flex flex-row ">
					<div class="grow">{ anwser.Content }</div>
					<input type="checkbox" class="input checkbox"/>
				</li>
			}
		</ul>
		<div class="card-actions justify-end">
			@c.Control()
		</div>
	</div>
}

templ Feedback(name string, quiz_len int) {
	<div class="card-body grow">
		<h2 class="card-title ">Feedback für { name }: Deine Lernergebnisse</h2>
		<div class="divider"></div>
		<div class="card-body flex flex-col">
			<div class="flex flex-col gap-2">
				<p class="text-xl font-semibold text-primary">
					Glückwunsch! Du hast alle { quiz_len }/{ quiz_len } Fragen richtig beantwortet! 🎉
				</p>
				<p class=" text-md">
					Eine hervorragende Leistung! Du hast gezeigt, dass du die Konzepte
					vollständig verstanden hast.
				</p>
			</div>
			<div class="divider"></div>
			<section class="grow flex flex-col gap-2">
				<h3 class="text-lg font-semibold">
					KI Zusammenfassung deiner Leistung
				</h3>
				<p class="leading-relaxed grow">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
				</p>
			</section>
			<a
				href="/dashboard.html"
				class="btn btn-primary w-full"
			>Beenden</a>
		</div>
	</div>
}

templ KalibrungFeedback() {
	<div class="card-body grow">
		<h2 class="card-title ">
			Kalibrierung erfolgreich abgeschlossen! ✨
		</h2>
		<div class="divider m-0"></div>
		<div class="card-body flex flex-col grow gap-4">
			<div class="flex flex-col gap-2">
				<span class="font-semibold text-lg">Dein Lernstil</span>
				Wir werden dir Inhalte bevorzugt visuell mit Diagrammen
				und Infografiken aufbereiten.
			</div>
			<div class="flex flex-col gap-2">
				<span class="font-semibold text-lg">Dein Lerntempo</span>
				Die Erklärungen werden in einem entspannten und
				ausführlichen Tempo präsentiert, um dir genug Zeit zum Verstehen zu geben.
			</div>
			<div class="flex flex-col gap-2">
				<span class="font-semibold text-lg">Deine Interessen</span>
				Inhalte in Mathematik und Informatik werden stärker
				berücksichtigt und Querverweise dazu geschaffen.
			</div>
			<div class="flex flex-col gap-2">
				<span class="font-semibold text-lg">Herausforderungen</span>
				Die KI wird dir gezielte Konzentrationsübungen
				vorschlagen und komplexe Themen in kleinere, verdauliche Abschnitte gliedern.
			</div>
			<div class="grow"></div>
			<a
				href="/dashboard.html"
				class="btn btn-primary w-full"
			>Jetzt mit dem Lernen beginnen!</a>
		</div>
	</div>
}

templ AISetting() {
	<div class="glass bg-base-100/80 rounded-box p-2">
		<fieldset class="fieldset flex flex-col bg-base-100/95 border-base-300 rounded-box shadow p-4 gap-4">
			<legend class="fieldset-legend">Kalibrierung</legend>
			<div class="flex flex-col gap-4">
				<label class="label">
					Text Anteil
					<span class="iconify tabler--info-circle"></span>
				</label>
				<input type="range" min="0" max="100" value="25" class="range range-primary  w-full range-xs" step="10"/>
			</div>
			<div class="flex flex-col gap-4">
				<label class="label">
					Bild Anteil
					<span class="iconify tabler--info-circle"></span>
				</label>
				<input type="range" min="0" max="100" value="25" class="range range-primary w-full range-xs" step="10"/>
			</div>
			<div class="flex flex-col gap-4">
				<label class="label">
					Multiple choice Anteil
					<span class="iconify tabler--info-circle"></span>
				</label>
				<input type="range" min="0" max="100" value="25" class="range range-primary  w-full range-xs" step="10"/>
			</div>
			<div class="flex flex-col gap-4">
				<label class="label">
					Code Anteil
					<span class="iconify tabler--info-circle"></span>
				</label>
				<input type="range" min="0" max="100" value="25" class="range range-primary w-full range-xs" step="10"/>
			</div>
			<div class="flex flex-col gap-4">
				<label class="label">
					Text Fragen Anteil
					<span class="iconify tabler--info-circle"></span>
				</label>
				<input type="range" min="0" max="100" value="25" class="range range-primary w-full range-xs" step="10"/>
			</div>
			<div class="flex flex-col gap-4">
				<label class="label">
					Lücken Text Anteil
					<span class="iconify tabler--info-circle"></span>
				</label>
				<input type="range" min="0" max="100" value="25" class="range range-primary  w-full range-xs" step="10"/>
			</div>
		</fieldset>
	</div>
}
