package template

import "strconv"

templ Test() {
	<p class="">Hello fro GO</p>
}

type Anwser struct {
	Ok      bool
	Content string
}

type MCTask struct {
	Awnsers  []Anwser
	Question string
}

type CodeTask struct {
	Question string
}

type LernTask struct {
	Title  string
	Layout LernLayout
}

type LernLayout int

const (
	LayoutImgWithText LernLayout = iota
	LayoutOnlyText
	LayoutTwoImagesSomeText
)

type CoursePageType int

const (
	PageQuiz CoursePageType = iota
	PageCode
	PageLern
)

type Course struct {
	Name      string
	QuizPages []MCTask
	LernPages []LernTask
	CodePages []CodeTask
	Pages     []CoursePageType
	Progress  int
}

func get_pages_count(pages []CoursePageType, target CoursePageType) int {
	count := 0

	for _, p := range pages {
		if p != target {
			continue
		}
		count += 1
	}

	return count
}

templ RenderPage(c *Course) {
	switch c.Pages[c.Progress] {
		case PageCode:
			@c.Code()
		case PageQuiz:
			@c.Quiz()
		case PageLern:
			@c.Lern()
		default:
			<span>Error 404 </span>
	}
}

templ (c *Course) Lern() {
	{{ id := get_pages_count(c.Pages[:c.Progress], PageLern) }}
	<div class="card-body grow gap-4" id="quiz">
		<div class="card-title justify-between">
			<h2>
				{ c.LernPages[id].Title }
			</h2>
			<span class="min-w-fit">
				{ c.Progress + 1 } / { len(c.Pages) }
			</span>
		</div>
		<div class="grow flex flex-col gap-4">
			<div class="skeleton bg-neutral-content/20 w-full h-32"></div>
			<div class="skeleton bg-neutral-content/20 w-full h-8"></div>
			<div class="skeleton bg-neutral-content/20 w-full h-8"></div>
			<div class="skeleton bg-neutral-content/20 w-full h-8"></div>
			<div class="skeleton bg-neutral-content/20 w-full h-8"></div>
			<div class="skeleton bg-neutral-content/20 w-full h-8"></div>
			<div class="skeleton bg-neutral-content/20 w-full h-8"></div>
			<div class="skeleton bg-neutral-content/20 w-full h-8"></div>
			<div class="skeleton bg-neutral-content/20 w-full h-8"></div>
		</div>
		<div class="card-actions justify-end">
			@c.Control()
		</div>
	</div>
}

templ (c *Course) Control() {
	if c.Progress > 0 {
		<button
			class="btn btn-ghost glass"
			hx-trigger="click"
			hx-swap="outerHTML"
			hx-target="#quiz"
			hx-get={ "ubung/" + c.Name + "/" + strconv.Itoa(c.Progress-1) }
		>Zurück</button>
	}
	if c.Progress == len(c.Pages) - 1 {
		<a
			href="/feedback.html"
			class="btn btn-primary"
		>Beenden</a>
	} else {
		<button
			class="btn btn-primary"
			hx-trigger="click"
			hx-swap="outerHTML"
			hx-target="#quiz"
			hx-get={ "ubung/" + c.Name + "/" + strconv.Itoa(c.Progress+1) }
		>Weiter</button>
	}
}

templ (c *Course) Code() {
	{{ id := get_pages_count(c.Pages[:c.Progress], PageCode) }}
	<div class="card-body grow" id="quiz">
		<div class="card-title justify-between">
			<h2>
				{ c.CodePages[id].Question }
			</h2>
			<span class="min-w-fit">
				{ c.Progress + 1 } / { len(c.Pages) }
			</span>
		</div>
		<div class="flex flex-row grow justify-between gap-2">
			<code class="w-full">
				<textarea class="textarea textarea-primary glass shadow outline-none resize-none border-none w-full h-full" placeholder="npm i htw-lern"></textarea>
			</code>
			<div class="mockup-browser border-base-300 bg-base-100 border w-full shadow">
				<div class="mockup-browser-toolbar">
					<div class="input">http://localhost:8080</div>
				</div>
				<div class="grid place-content-center border-t border-base-300 h-80">Hallo!</div>
			</div>
		</div>
		<div class="card-actions justify-end">
			@c.Control()
		</div>
	</div>
}

templ (c *Course) Quiz() {
	{{ id := get_pages_count(c.Pages[:c.Progress], PageQuiz) }}
	<div class="card-body grow" id="quiz">
		<div class="card-title justify-between">
			<h2>
				{ c.QuizPages[id].Question }
			</h2>
			<span class="min-w-fit">
				{ c.Progress + 1 } / { len(c.Pages) }
			</span>
		</div>
		<ul class="list grow">
			for _, anwser := range c.QuizPages[id].Awnsers {
				<li class="list-row flex flex-row ">
					<div class="grow">{ anwser.Content }</div>
					<input type="checkbox" class="input checkbox"/>
				</li>
			}
		</ul>
		<div class="card-actions justify-end">
			@c.Control()
		</div>
	</div>
}

templ Feedback(name string, quiz_len int) {
	<div class="card-body grow">
		<h2 class="card-title ">Feedback für { name }: Deine Lernergebnisse</h2>
		<div class="divider"></div>
		<div class="card-body flex flex-col">
			<div class="flex flex-col gap-2">
				<p class="text-xl font-semibold text-primary">
					Glückwunsch! Du hast alle { quiz_len }/{ quiz_len } Fragen richtig beantwortet! 🎉
				</p>
				<p class=" text-md">
					Eine hervorragende Leistung! Du hast gezeigt, dass du die Konzepte
					vollständig verstanden hast.
				</p>
			</div>
			<div class="divider"></div>
			<section class="grow flex flex-col gap-2">
				<h3 class="text-lg font-semibold">
					KI Zusammenfassung deiner Leistung
				</h3>
				<p class="leading-relaxed grow">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
				</p>
			</section>
			<a
				href="/dashboard.html"
				class="btn btn-primary w-full"
			>Beenden</a>
		</div>
	</div>
}

templ KalibrungFeedback() {
	<div class="card-body grow">
		<h2 class="card-title ">
			Kalibrierung erfolgreich abgeschlossen! ✨
		</h2>
		<div class="divider m-0"></div>
		<div class="card-body flex flex-col grow gap-4">
			<div class="flex flex-col gap-2">
				<span class="font-semibold text-lg">Dein Lernstil</span>
				Wir werden dir Inhalte bevorzugt visuell mit Diagrammen
				und Infografiken aufbereiten.
			</div>
			<div class="flex flex-col gap-2">
				<span class="font-semibold text-lg">Dein Lerntempo</span>
				Die Erklärungen werden in einem entspannten und
				ausführlichen Tempo präsentiert, um dir genug Zeit zum Verstehen zu geben.
			</div>
			<div class="flex flex-col gap-2">
				<span class="font-semibold text-lg">Deine Interessen</span>
				Inhalte in Mathematik und Informatik werden stärker
				berücksichtigt und Querverweise dazu geschaffen.
			</div>
			<div class="flex flex-col gap-2">
				<span class="font-semibold text-lg">Herausforderungen</span>
				Die KI wird dir gezielte Konzentrationsübungen
				vorschlagen und komplexe Themen in kleinere, verdauliche Abschnitte gliedern.
			</div>
			<div class="grow"></div>
			<a
				href="/dashboard.html"
				class="btn btn-primary w-full"
			>Jetzt mit dem Lernen beginnen!</a>
		</div>
	</div>
}
