<!DOCTYPE html>
<html lang="de" data-theme="htw">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="output.css">
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <title>HTW Lern</title>
    <style>


    </style>
</head>

<body class="flex flex-col gap-0 m-0 p-0 min-h-screen from-primary/20 to-secondary/20 bg-gradient-to-br">
    <header class="navbar glass shadow z-10">
        <div class="flex-1">
            <a class="btn btn-ghost text-xl" href="dashboard.html">HTW Lern</a>
        </div>
        <div class="flex-none flex gap-2">
            <a class="btn glass" href="chat.html">
                <span class="iconify tabler--message"></span>
                Chat
            </a>
            <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" class="bg-base-100/40 shadow skeleton h-10 w-10 shrink-0 rounded-full ">
                </div>
                <ul tabindex="0"
                    class="dropdown-content menu bg-base-100/90 glass shadow rounded-box z-1 w-52 p-2 shadow-sm gap-2">
                    <li><a class="btn ">Profil</a></li>
                    <li><a class="btn ">Einstellungen</a></li>
                    <li><a class="btn btn-accent">Sync Moodle</a></li>
                </ul>
            </div>
        </div>
    </header>

    <div class="flex flex-col p-4 gap-4 ">


        <div class="flex gap-4 flex-col ">
            <div class="rounded shrink gap-2 flex flex-col glass shadow">
                <div class="stats m-2">
                    <div class="stat">
                        <div class="stat-figure text-secondary">
                            <span class="iconify tabler--flame bg-accent"></span>
                        </div>
                        <div class="stat-title">
                            <div class="stat-title">Lernstreak</div>
                        </div>
                        <div class="stat-value">16 Tage</div>
                        <div class="stat-desc">+2 seit letzter Woche</div>
                    </div>

                    <div class="stat">
                        <div class="stat-figure text-secondary">
                            <span class="iconify tabler--book"></span>
                        </div>
                        <div class="stat-title">Abgeschlossene Übungen</div>
                        <div class="stat-value">60</div>
                        <div class="stat-desc"> +10 diese Woche</div>
                    </div>

                    <div class="stat">
                        <div class="stat-figure text-secondary">
                            <span class="iconify tabler--trophy"></span>
                        </div>
                        <div class="stat-title">Badges</div>
                        <div class="stat-value">12</div>
                        <div class="stat-desc">+1 diese Woche</div>
                    </div>
                </div>
            </div>

            <div class="rounded gap-4 p-4 flex flex-col glass shadow ">
                <h2 class="font-semibold">Aktuelle Kurse</h2>
                <fieldset class="fieldset flex p-4 shadow">
                    <legend class="fieldset-legend">Suche</legend>
                    <input type="text" placeholder="" class="input grow glass input-ghost" />
                </fieldset>
                <ul class="list shadow">
                    <li class="list-row flex flex-col">
                        <div class="flex items-center justify-between grow">
                            <div class="flex flex-col">
                                <span>Mathematik</span>
                                <span class="font-light italic text-xs">55%</span>
                            </div>
                            <button class="btn btn-primary" hx-get="/ubung/mathematik/4" hx-swap="none">
                                Weiter
                            </button>
                        </div>
                        <progress class="progress progress-primary" value="55" max="100"></progress>
                    </li>

                    <li class="list-row flex flex-col">
                        <div class="flex items-center justify-between grow">
                            <div class="flex flex-col">
                                <span>Modellierung von Anwendungssystemen</span>
                                <span class="font-light italic text-xs">35%</span>
                            </div>
                            <button class="btn btn-primary" hx-get="/ubung/mas/3" hx-swap="none">
                                Weiter
                            </button>
                        </div>
                        <progress class="progress progress-primary" value="35" max="100"></progress>
                    </li>

                    <li class="list-row flex flex-col">
                        <div class="flex items-center justify-between grow">
                            <div class="flex flex-col">
                                <span>Geschäftsprozesse und betriebliche Anwendungen</span>
                                <span class="font-light italic text-xs">0%</span>
                            </div>
                            <button class="btn btn-primary" hx-get="/ubung/bean/1" hx-swap="none">
                                Starten
                            </button>
                        </div>
                        <progress class="progress progress-primary" value="0" max="100"></progress>
                    </li>
                </ul>
                <div class="shadow p-4 flex flex-row justify-between">
                    <div class="join join-horizontal">
                        <button class="btn btn-ghost btn-sm join-item">
                            <span class="iconify tabler--arrow-left"></span>
                        </button>
                        <button class="btn btn-ghost btn-sm join-item">
                            <span class="iconify tabler--arrow-right"></span>
                        </button>
                    </div>
                    <select class="select select-sm max-w-fit select-ghost">
                        <option selected>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
            </div>
        </div>

    </div>

    <div class="toast toast-end text-xs font-thin grow w-screen">
        <div role="alert" class="shrink alert alert-info z-0 glass shadow gap-2 animate-remove" id="alert">
            <span class="iconify tabler--info-circle"></span>
            Synchronisiere mit Moodle
            <span class="loading loading-ring loading-xs"></span>
        </div>
        <div role="alert" class="shrink alert alert-info z-0 glass shadow gap-2 animate-remove" id="alert">
            <span class="iconify tabler--info-circle"></span>
            dein AI Assistent wird aktualisiert
            <span class="loading loading-ring loading-xs"></span>
        </div>
        <div role="alert" class="shrink alert alert-info z-0 text-secondary glass shadow gap-2" id="alert">
            <span class="iconify tabler--info-circle"></span>
            <span>Deine persönliche AI ist noch nicht kalibriert. Jetzt starten!</span>
            <div>
                <button class="btn btn-sm btn-ghost text-base-content" hx-trigger="click" hx-target="#alert"
                    hx-swap="delete" hx-get="/del">Später</button>

                <button class="btn btn-primary" hx-get="/ubung/intro/1" hx-swap="none" hx-trigger="click">
                    Starten</button>
            </div>
        </div>

        <div role="alert" class="shrink alert alert-warning z-0  glass shadow gap-2" id="alert">
            <span class="iconify tabler--alert-circle"></span>
            <span>AI: Hey, du liegst in Mathematik hinterher!</span>
            <div>
                <button class="btn btn-sm btn-ghost text-base-content" hx-trigger="click" hx-target="#alert"
                    hx-swap="delete" hx-get="/del">Später</button>

                <button class="btn btn-primary" hx-get="/ubung/intro/1" hx-swap="none" hx-trigger="click">
                    Weiter</button>
            </div>
        </div>
    </div>

</body>


</html>
